<div class="mt-4">
<form method="get">
  <div class="form-group">
    <label for="exampleInputEmail1">Search Input:</label>
    <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="Input...">
  </div>

  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>